<body>
<div data-role="page" id="mainPage">
  <div data-role="main" class="ui-content">
    <h4>Hello, <%= $user.fullName %>!</h4>
    <img src="<%= $user.avatar  %>" width="50%" />
    <br/>
    <div data-role="collapsible" data-mini="true">
      <h1><%= $client.activities_on_date(Date.current)['summary']['steps'] %> steps today! View more...</h1>
      <p><%= $client.activities_on_date(Date.current)['summary']['steps'] %> steps today!<br/>
        <% $stepsWeek = $client.data_by_time_range('/activities/log/steps', {:base_date => Date.current, :period => '7d'})['activities-log-steps'] %>
        <% $stepstotal = 0
           for i in 0..6
             $stepstotal += $stepsWeek[i]['value'].to_i
           end %><%= $stepstotal%> steps this week!
      </p>
    </div>
    <div data-role="header">
      <h1> Goals
      </h1>
    </div>
    <div data-role="main" class="ui-content" style="text-align: center">
      <a href="../../goals/" class="ui-btn ui-icon-plus ui-btn-icon-right">Add Goals</a>
      <% @activeGoalsList.each do |userGoal| %>
          <div align="center" class="ui-btn">
              <%= link_to '', { controller: 'user_goals' , action: 'show', id: userGoal.id }, {class: "ui-icon-minus ui-btn-icon-right"} %>
                  <table>
                    <tr>
                      <td><%= image_tag(userGoal.goal.image, width: 100) %></td>
                      <td>
                          <table>
                            <tr>
                              <td class="ui-title"><%= userGoal.goal.title %></td>
                            </tr>
                            <tr>
                              <td class="subtitle">Start Date: <%= userGoal.created_at.to_date %></td>
                            </tr>
                            <tr>
                              <td>
                                <div id="progressbar<%= userGoal.object_id %>"></div>
                                <script>
                                    $( "#progressbar<%= userGoal.object_id %>" ).progressbar({
                                        value: <%=
                                            ((userGoal.steps.to_f / userGoal.goal.stepsNeeded.to_f )*100).to_i
                                        %>
                                    });
                                </script>
                              </td>
                            </tr>
                          </table>
                      </td>
                    </tr>
                  </table>
          </div>
      <% end %>
    </div>
    <div data-role="header">
      <h1> Achievements </h1>
    </div>
    <div data-role="main" class="ui-content">
      <% @achievementsList.each do |userGoal| %>
          <div align="center" class="ui-btn">
            <table>
              <tr>
                <td><%= image_tag(userGoal.goal.image, width: 100) %></td>
                <td>
                  <table>
                    <tr>
                      <td class="ui-title"><%= userGoal.goal.title %></td>
                    </tr>
                    <tr>
                      <td class="subtitle"><%= userGoal.created_at.to_date %> ~ <%= userGoal.finishDate.to_date %>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="fb-share-button" data-width="200" data-type="button_count"></div>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </div>
      <% end %>
    </div>
  </div>

  <div data-role="footer" style="text-align:center;">
    <a href="../../logout" class="ui-btn ui-corner-all ui-shadow ui-icon-power ui-btn-icon-left">Logout</a>
  </div>
</div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</body>